body {
  background: white;
  background-size: cover;
}
html, body {margin: 0; height: 100%; overflow: hidden}
/* SVg image for the title */
.titleSvg {
  opacity: 0;
  position: fixed;
  width: 50%;
  left: 25%;
  top: 5%;
  z-index:99;
}
/* Style for the container of the logo */
.firstHeader {
  margin-left: auto;
  margin-right: auto;
  width:50%;
  text-align:center;
  line-height: 30px;
  font-size: 100px;
  color: black;
  opacity: 0;
}
/* Style for the language buttons+movenment+hover*/
.languageButton {
  position: absolute;
  background: #CC3333;
  top: -50%;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: white;
  font-size: 30px;
  transform: rotate(-45deg);
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%; /* droplet shape css https://stackoverflow.com/a/30711303 */
  margin-top: -200px;
  margin-left: -100px;
  cursor: pointer;
  opacity:0;
  font-family: 'Gloria Hallelujah', cursive;
}
.languageButton > span {
  transform: rotate(60deg);
}

.languageButton:hover {
  background: #8a0303;
}

.language1 {
  /* Firefox */
left: -moz-calc(50% - 300px);
/* WebKit */
left: -webkit-calc(50% - 300px);
/* Opera */
left: -o-calc(50% - 300px);
/* Standard */
left: calc(50% - 300px);
}

.language2 {
  left: 50%;
}

.language3 {
  left: -moz-calc(50% + 300px);
  /* WebKit */
  left: -webkit-calc(50% + 300px);
  /* Opera */
  left: -o-calc(50% + 300px);
  /* Standard */
  left: calc(50% + 300px);
}


/*this is for mobile screen*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .languageButton {
    position: absolute;
    background: #CC3333;
    top: -50%;
    width: 10vw;
    height: 10vw;
    line-height: 10vw;
    text-align: center;
    color: white;
    font-size: 10px;
    transform: rotate(-45deg);
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%; /* droplet shape css https://stackoverflow.com/a/30711303 */
    margin-top: -20vw;
    margin-left: 10vw;
    cursor: pointer;
    opacity:0;
    font-family: 'Gloria Hallelujah', cursive;
  }
  .languageButton > span {
    transform: rotate(60deg);
  }

  .languageButton:hover {
    background: #8a0303;
  }

  .language1 {
    /* Firefox */
  left: 20vw;
  }

  .language2 {
    left: 40vw;
  }

  .language3 {
    left: 60vw;
  }
}

/*Style for the about box and the controls*/

.boxContainer {
  z-index: 4;
  position: absolute;
  width:10%;
  min-width: 100px;
  left:45%;
  border-radius: 15px;
  border: 3px solid black;
  background: white;
  overflow-y: auto;
  opacity:0;
  display:none;
  top: -moz-calc(100% - 50px);
  /* WebKit */
  top: -webkit-calc(100% - 50px);
  /* Opera */
  top: -o-calc(100% - 50px);
  /* Standard */
  top: calc(100% - 50px);
}
/* style for alll of the buttons used +the hover */
.nextButton {
    width: 44px;
    height: 44px;
    position:absolute;
    top:0px;
    padding:3px;
}
.nextButton >img { width: 100%; height: 100%; }

.nextButton:hover {
  cursor: pointer;
  width: 46px;
  height: 46px;
  padding:2px;
}

.restartButton {
    width: 44px;
    height: 44px;
    position:absolute;
    top:0px;
    padding:3px;
}
.restartButton >img { width: 100%; height: 100%; }

.restartButton:hover {
  cursor: pointer;
  width: 46px;
  height: 46px;
  padding:2px;
}
.buttonLeft {
  left:0px !important;
}
.buttonRight {
  right:0px !important;
}
.backButton {
  width: 46px;
  height: 46px;
  top:0;
  left:0;
  padding:2px;
}
.backButton >img { width: 100%; height: 100%; }

.backButton:hover {
  cursor: pointer;
}
/*Generating newStoryin the right of the screen*/
.newStory {
  position: absolute;
  top:0;
  left:100%;
  z-index: 3;
  height:100%;
  width:100%;
  text-align: center;
}
/*Generating prev Story in the left of the screen*/
.prevStory {
  position: absolute;
  top:0;
  left:-100%;
  z-index: 3;
  height:100%;
  width:100%;
  text-align: center;
}
/*Classes used for displaying of story svg images*/
.storySvg {
  position: absolute;
  margin-top:50px;
  margin-left:26%;
  width:48%;
}

.storySvgImage {
  background: white;
border: solid 4px black;
overflow: hidden;
}

.storySvgImageWithoutCursor {
  background: white;
border: solid 4px black;
}

.storySvgColImage {
  background: white;
  border: solid 4px black;
  height: 60vh;
  max-width: 45vw;
  overflow-x: hidden;
}
/*used for the logo display*/
.fixedlogo {
  margin-top:3%;
  height:5%;
  width:auto;
  margin-left:2%;
  position:absolute;

}
/*used for single image in a panel*/
.storySvgCols {
  height:auto;
  width:80%;
}

/* Used for the panel with two images */
.imgColumn {
  height:80vh;
}
/* Used for the panel with two images */
.three-col-panel {
  width:100%;
  height:100%;
}
/* the panel with two images */
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  text-align: center !important;
}
/* option button */
.optionButton {
  width:100%;
  text-align: center !important;
  color:white;
  font-size: 200%;
  background: #CC3333;
  border-radius: 15px;
  height:100px;
  line-height: 100px;
  margin-bottom:50px;
  font-family: 'Gloria Hallelujah', cursive;;
}
/* hovering over options */
.optionButton:hover {
  background: #8a0303;
  width:100%;
  height:100px;
  cursor: pointer;
}

#cheeks {
  opacity:0;
}

.centerTable {
  margin: 0px auto; /* center align the table */
  border-spacing: 30px;
  border-collapse: separate;
  }
